body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(80, 78, 78);
}
.container{
height: 100vh;
width: 100vw;
display: grid;
grid-template: 1fr 7fr / 1fr 1fr;
gap: min(10px,1vw);

}
.header, .addform, .shelf{
    background-color: rgb(202, 205, 207);
    box-shadow: 2px 2px 3px -1px;
}
label, .headertitle, .addformtitle, .shelftitle, div.read{
    color: #2e2d2d;
    font-weight: bold;
}
.addform{

    grid-area: 2/1/3/2;

}

.formrow{
    margin: 10px;
    padding: 0px 5vw;
    width: min(30vw,600px);
    display: flex;
    justify-content: center;
    flex: 0;
}


.addformtitle, .shelftitle{
    font-size: 1.5rem;
    padding: 1rem 0px;
}

.header{
    grid-area: 1/1/2/3;
 
}
h1, .addformtitle, .shelftitle{
text-align: center;   
}

form{
    width: auto;
    display: flex;
    padding: 10px;
    flex-direction: column;

}
label,div.read{
    font-size: 1rem;
    float:right;
    flex: 1;
}

input[type="text"],
input[type="number"]
{
    width: min(300px,100%);
    float: right;
    flex: 1;
    border: 2px black solid;
}
label>div.read  {
    margin-left: 10px;
}
label.read{
    margin-left: min(100px,2vw);
}
.add, button{
    align-self: center;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid black;
    margin-right: min(10px,1vw);

}
.shelf{
    grid-area: 2/2/3/3;
    overflow: auto;
    position: relative;


}
.shelftitle, .addformtitle, .addform{
    border-bottom: solid gray 2px;

}
.shelftitle{
    display: flex;
    justify-content: center;
    background-color: rgb(202, 205, 207);
    position: sticky;
    top: 0;
}
.bookshelf{
    display: grid;
    grid-auto-rows: 220px;
}
div.bookshelf>div{
    padding: 10px;
    color: #2e2d2d;
    border-bottom: solid gray 2px;
    padding-left: 5vw;
}
p{
    text-transform: capitalize;
}
button:hover, .add:hover{
    border-width: 3px;
}